body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.email{
    background-color: tomato;
    padding: 10px;
}
.email p{
    display: inline;
}
.l-btn{
    margin-left: 700px;
    background: linear-gradient(to right, red, orange);
    border-radius: 5px;
}
.s-btn{
    margin-left: 670px;
    background: linear-gradient(to right, red, orange);
    border-radius: 5px;
}



.flex {
    padding: 51px;
    display: flex;
}
.orange-color{
    color: orange;
}
.top-headline{
    font-size: 40px;
}
.half-width{
    width: 50%;
}
.top-btn{
    height: 40px;
    width: 130px;
    border-radius: 20px;
    border-style: none;
    background: linear-gradient(to right, red, orange); 
}
.about-sec{
    background-image: url(images/7.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.img-one {
    margin-left: 100px;
}
.btn-link{
    text-decoration: none;
    color: white;
}
.img-two{
    margin-left: 100px;
    margin-top: -24px;
}
.middle-btn{
    margin-top: 100px;
}

.recipie{
    text-align: center;
    padding: 0 22% 0 22%;
}
.recipie-img{
    display: flex;
}

.r-i-child{
    padding: 14px;
    box-shadow: 0px 0px 20px 2px #888888;
    border-radius: 20px;
    width: 25%;
    margin-left: 45px;
}

.followers{
    display: flex;
    box-shadow: 0px 0px 20px 2px #888888;
    margin: 100px;
    border-radius: 20px;
}
.c-followers{
    margin: 0 20px 0 20px;
    font-size: 20px;
    font-weight: 100;
}
.c-followers p{
    font-size: 10px;
}

footer{
    padding: 20px;
    text-align: center;
    background-color: black;
    color: white;
}
.sp-one{
    color: orange;
}
.sp-two{
    color: rgb(61, 60, 56);
}
footer p{
    font-size: 10px;
}